html,
body {
  width: 357px;
  height: 600px;
  padding: 0 !important;
  overflow-x: hidden !important;
  background-color: aquamarine;
}

#root {
  min-height: 100%;
  height: -webkit-fill-available;
}

*::-webkit-scrollbar {
	width: 3px;
	background-color: transparent;
}

*::-webkit-scrollbar:horizontal {
	height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ffffff20;
  min-height: 30px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #6B76A180;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}
